<p>Bonjour,</p>
<p>
  Un nouvel utilisateur a souhaité s'authentifier sur l'application ApiApp.<br/>
  Les informations présentes dans le compte utilisateur Apidae correspondant sont les suivantes :<br/>
  <br/>
  Nom : <%= @user.name %><br/>
  Email : <%= @user.email %><br/>
  Téléphone fixe : <%= @user.telephone || 'Non renseigné' %><br/>
  Téléphone mobile : <%= @user.mobilephone || 'Non renseigné' %>
</p>
<p>
  <i>Ce message a été généré automatiquement par la console d'administration ApiApp.</i>
</p>