$brand-primary:         #6eb1c6 !default;
$brand-success:         #bfce81 !default;
$brand-info:            #86c7e8 !default;
$brand-warning:         #edc141 !default;
$brand-danger:          #d67c7d !default;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "bootstrap-datetimepicker";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

form input[type=number][id$='_at'],
form label[for$='_at'] {
  display: none;
}

div.page-header,
div.page-header h1 {
  margin-top: 10px;
}

form .row {
  margin-top: 20px;
}

form #nodes_select, form input[type=text] {
  width: 100%;
}

#dashboard a.btn {
  width: 60%;
}